:root{
    --m-background: #ffffff;
    --m-fontcolor: black;
    --m-grey: #262626;
    --m-lightgrey: #ccc;
    --m-green: #06f205;
    --h-tophover: #aaaaaa;
    --h-tophover2: #ababab;
    --h-tophover3: #bbb;
    --m-backgradient: linear-gradient(var(--m-background) 70%, var(--m-green) 90%);
}
[data-theme="dark"]{
    --m-background: #262626;
    --m-fontcolor: #ffffff;
    --m-grey: #262626;
    --m-lightgrey: #505050;
    --m-green: #03ca03;
    --h-tophover: #444;
    --h-tophover2: #555;
    --h-tophover3: #666;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    margin: 0;
    background-image: var(--m-backgradient);
    font-family: Arial, Helvetica, sans-serif;
    accent-color: var(--m-green);
}
img{
    width: 100%;
    height: auto;
    min-width: 1rem;
    min-height: 1rem;
}
::selection{
    background-color: var(--m-green);
    color: black;
}
a{
    text-decoration: none;
    color: var(--m-green);
}
a::selection{
    color: var(--m-fontcolor);
}
#navbar{
    position: fixed; 
    top: 0; 
    z-index: 2;
    background-color: var(--m-background);
}
#main{
    margin-top: 7rem;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--m-lightgrey);
    color: var(--m-fontcolor);
    padding: 1rem;
    border-radius: 15px;
    min-height: 70vh;
}
#checkbox{
    width: 1.5rem;
    height: 1.5rem;
}
#checkbox:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    accent-color: var(--m-green);
}
#light-dark{
    text-align: center;
    font-size: 23px;
}
.content{
    font-size: 20px;
    margin-bottom: 7rem;
}
.content h1{
    animation: h1fade 1s ease-in;
    text-decoration: underline var(--m-green) 5px;
}
.grid{
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}
.grid img{
    background-color: white;
    border-radius: 10px;
}
.grid a{
    opacity: 1;
}
.grid a:nth-child(1){
    animation: fade 2s ease-in;
    animation-delay: 0.5s;
}
.grid a:nth-child(2){
    animation: fade 2s ease-in;
    animation-delay: 1.5s;
}
.grid a:nth-child(3){
    animation: fade 2s ease-in;
    animation-delay: 2.5s;
}
.grid a:nth-child(4){
    animation: fade 2s ease-in;
    animation-delay: 3.5s;
}
.grid a:nth-child(5){
    animation: fade 2s ease-in;
    animation-delay: 4.5s;
}
.grid a:nth-child(6){
    animation: fade 2s ease-in;
    animation-delay: 5.5s;
}
.grid a:nth-child(7){
    animation: fade 2s ease-in;
    animation-delay: 6.5s;
}
.grid a:nth-child(8){
    animation: fade 2s ease-in;
    animation-delay: 7.5s;
}
.grid a:nth-child(9){
    animation: fade 2s ease-in;
    animation-delay: 8.5s;
}.grid a:nth-child(10){
    animation: fade 2s ease-in;
    animation-delay: 9.5s;
}
.content img{
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(var(--m-grey) 10px 10px 10px);
}
.content img:hover{
    transform: translateY(-10px);
    border: var(--m-green) 5px solid;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(var(--m-grey) 15px 15px 10px);
}
.flex{
    display: flex;
}
.flex .bild{
    width: 75%;
}
.flex .text{
    width: auto;
    margin-left: 1.5rem;
    padding-right: 0.5rem;
}
.text a:hover{
    text-decoration: underline;
}
.content .flex .nohover:hover{
    transform: none;
    border: none;
    filter: drop-shadow(var(--m-grey) 10px 10px 10px);
}
#projects,
#socials{
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    animation: h1fade 2s ease-in;
}
.project,
.social{
    border-radius: 10px;
    width: auto;
    min-width: 32.3%;
    height: 15rem;
    background-color: var(--h-tophover);
    margin: 0.5rem;
    filter: drop-shadow(#262626 5px 5px 5px);
    transition: all 0.3s ease-in-out;
    padding-bottom: 0.5rem;
    overflow-y: hidden;
    z-index: 2;
}
.project:hover{
    height: 18rem;
    z-index: 1;
}
.project:hover .top{
    height: 8rem;
}
.project .top{
    width: 100%;
    height: 6rem;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s ease-in-out;
}
.project .probild{
    width: 8rem;
    height: 8rem;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4.5rem;
    background-color: #ffffff;
    border-radius: 100%;
    overflow: hidden;
}
.project .probottom{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -4rem;
    color: var(--m-fontcolor);
}
.social{
    height: auto;
    z-index: 1;
    transition: all .4s;
}
#socials:hover .soc-img{
    filter: grayscale(0.9);
    transform: scale(0.95);
    transition: all ease-in-out 0.4s;
}
#socials{
    margin-bottom: 5rem;
}
#socials:hover .social:hover .soc-img{
    filter: grayscale(0);
}
.soc-text{
    text-align: center;
    font-size: 1.5rem;
    transition: all ease-in-out 0.2s;
    color: var(--m-fontcolor);
}
.social:hover #insta{
    background: linear-gradient(45deg, #fa8f20 30%, #b13495 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social:hover #facebook{
    background: linear-gradient(#00b1ff 30%, #006eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social:hover #tellonym{
    color: #fe4485;
}
.social:hover #discord{
    color: #5964f2;
}
.social:hover #youtube{
    color: #ff0000;
}
.social:hover #github{
    background: linear-gradient(45deg, #258036 30%, #4bb0fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social:hover #twitch{
    color: #65469c;
}
.social:hover #netlify{
    background: linear-gradient(90deg, #4d9abf 30%, #37afbb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social:hover #snapchat{
    color: #fffc00;
}
.social:hover #kickstarter{
    color: #2cdf72;
}
.social:hover #twitter{
    color: #28aae1;
}
.social:hover #bereal{
    color: #000000;
}
/*Emal Form*/
#contact-form{
    width: 100%;
    display: block;
}
#contact-form .row{
    margin-inline: 5rem;
    font-size: 200%;
    width: auto;
    display: flex;
    margin-bottom: 1rem;
}
#contact-form .row label{
    width: 12%;
    display: inline-block;
}
#contact-form .row input,
#contact-form .row textarea{
    min-width: 88%;
    display: inline-block;
}
#contact-form .row input{
    font-size: 60%;
}
#contact-form .row textarea{
    min-height: 5rem;
    resize: vertical;
    font-size: 80%;
}
#contact-form #btn{
    background-color: var(--m-lightgrey);
    border: 2px solid var(--m-green);
    border-radius: 10px;
    color: var(--m-green);
    width: 10rem;
    height: 3rem;
    font-size: 180%;
    margin-left: 15%;
    transition: all .3s;
}
#contact-form #btn:hover{
    background-color: var(--m-green);
    filter: drop-shadow(0px 0px 5px var(--m-green));
    color: var(--m-lightgrey);
}
.message{
    margin-left: 15%;
    margin-top: 1rem;
    width: 80%;
    padding: 2px;
    display: none;
}
#complete{
    border: 1px solid var(--m-green);
}
#error-msg{
    border: 1px solid red;
}

legend{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: #ffffff;
    border-radius: 15px;
}
fieldset{
    color: var(--m-fontcolor);
    border-color: var(--m-fontcolor);
    border-width: 3px;
    border-radius: 10px;
    margin-bottom: 2rem;
    animation: h1fade 2s;
}
fieldset:hover{
    transform: translateY(-10px);
    transition: ease-in-out 0.4s;
}

#error{
    margin-top: 5px;
    display: flex;
    height: 80vh;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding: 0.3rem;
    border: 5px solid var(--m-green);
    border-radius: 10px;
}

#footer{
    position: bottom;
    margin-top: 5rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: var(--m-background);
    color: var(--m-fontcolor);
}
#footimg{
    width: 5rem;
    height: auto;
}
#foottext{
    padding-left: 0.3rem;
}
@media (max-width:700px){
    #main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #footimg{
        width: 3rem;
        height: auto;
    }
    h1{
        font-size: 25px;
        margin-bottom: 2rem;
    }
    .content{
        font-size: 18px;
    }
    .content img:hover{
        border: 3px solid var(--m-green);
        transform: translateY(-5px);
    }
    .grid a:nth-of-type(5),
    .grid a:nth-of-type(6){
        display: none;
    }
    .flex{
        display: block;
    }
    .flex .bild{
        width: 100%;
    }
    .flex .text{
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .project{
        height: 18rem;
    }
    .project:hover{
        height: 20;
    }
    .project:hover .top{
        height: 6rem;
    }
    .project .top{
        height: 5rem;
    }
    .project .probild{
        width: 5rem;
        height: 5rem;
    }
    .project .probottom{
        margin-top: -1rem;
    }
    #error{
        margin-left: 1%;
        margin-right: 1%;
        font-size: 30px;
    }
    .soc-img{
        filter: grayscale(0);
    }
    .soc-text{
        font-size: 0.8rem;
    }
    legend{
        width: 4rem;
        height: 4rem;
    }
}
@media (min-width: 300px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    #projects{
        grid-template-columns: repeat(1, 1fr);
    }
    #socials{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 500px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    #socials{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 750px){
    #socials{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) and (min-width:700px){
    .flex .bild{
        width: 200%;
    }
}
@media (min-width: 1000px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    #projects{
        grid-template-columns: repeat(2, 1fr);
    }
    #socials{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1300px) {
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
    #projects{
        grid-template-columns: repeat(3, 1fr);
    }
    #socials{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1600px) {
    #contact-form .row{
        margin-inline: 0rem;
        font-size: 100%;
        width: auto;
        display: block;
        margin-bottom: 1rem;
    }
    #contact-form .row input,
    #contact-form .row textarea{
        width: 100%;
        display: inline-block;
    }
    #contact-form .row textarea{
        font-size: 100%;
    }
    #contact-form #btn{
        margin-left: 0rem;
    }
}
@keyframes fade {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes h1fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}