body{
    margin: 0;
}
#main{
    width: 60%;
    max-width: 600px;
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}
img{
    width: 100%;
    height: auto;
}
#topimage{
    margin-top: 20px;
    background-image: radial-gradient(rgb(0, 195, 255) 0%, #ffffff00 65%);
    padding: 2rem;
}
.row{
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: row;
    border-bottom: 1px solid #00000020;
    min-height: 2rem;
    align-items: center;
}
.row:first-child{
    border-top: 1px solid #00000020;
}
.grey{
    color: #bbbbbb;
}
.status{
    padding: .1rem .5rem;
    width: fit-content;
}
.status.test{
    background-color: #00c3ff20;
    color: #00b7ff;
}
.key{
    width: 30%;
    font-weight: bold;
}
#date{
    font-size: 0.9rem;
    margin-top: 1rem;
}


@media (max-width: 600px) {
    #main{
        width: 90%;
    }
}