#div5{
    animation: hover 2s;
}
#div5:hover{
    transform: translateY(-15px);
    transition: all .2s;
}
@keyframes hover {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}